NodeRED/CLSflow_v1.json
[{"id":"28e0e5be.2dfb0a","type":"tab","label":"IOT Door Lock System","disabled":false,"info":""},{"id":"dd164575.e42d68","type":"ui_group","z":"","name":"First Floor","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"b0de7df2.6d9c8","type":"mqtt-broker","z":"","name":"","broker":"10.3.32.59","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c14219dc.09a858","type":"ui_group","z":"","name":"Ground Floor Testing","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"1e4f4ddc.ecc442","type":"ui_group","z":"","name":"Discussion Room","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"88ec6c32.e8b34","type":"ui_group","z":"","name":"First Floor Lock Status","tab":"","disp":true,"width":"6","collapse":false},{"id":"4f64d00f.4f807","type":"ui_group","z":"","name":"IOT","tab":"","disp":true,"width":"6","collapse":false},{"id":"cd2945f1.9bf528","type":"ui_group","z":"","name":"Labs","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"68b747bc.2a7c78","type":"ui_group","z":"","name":"Super Master Switch","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"512d0f79.1642c","type":"ui_group","z":"","name":"C - ISFCR","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"17a99a61.461ec6","type":"ui_group","z":"","name":"C - IoT","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"f423384d.878318","type":"ui_group","z":"","name":"Eleventh Floor Main Master Contol","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c427b468.eb3098","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"dfebbcd4.f71fb","type":"alexa-home-conf","z":"","username":"iotcenterpesu"},{"id":"6b9e4821.ec3cb8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ffb900","baseFont":"Copperplate,Copperplate Gothic Light,fantasy","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff7300","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#ff7300","edited":true},"page-titlebar-backgroundColor":{"value":"#ff7300","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ff9d4d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ff7300","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"PESU Center of IoT","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"28511fdd.f8f22","type":"ui_group","z":"","name":"CCBD","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"d7cbbac3.b61c58","type":"mqtt-broker","z":"","name":"","broker":"10.20.202.143","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"41b4c0ca.037f8","type":"ui_group","z":"","name":"Lamp","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee26df6c.b88aa","type":"ui_group","z":"","name":"Sensor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"54549522.3e782c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1880","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4cafcf2.29b99","type":"mqtt-broker","z":"","name":"","broker":"169.254.42.118","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"dfa24a60.b84dd8","type":"ui_group","z":"","name":"Temperature Reading","tab":"","order":1,"disp":true,"width":"22","collapse":false},{"id":"16ca49de.8ebf66","type":"ui_group","z":"","name":"Humidity Reading","tab":"","disp":true,"width":"6","collapse":false},{"id":"bad9010b.a2a6e","type":"mqtt-broker","z":"","name":"TempReading","broker":"10.20.201.73","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"50a4875f.09fe78","type":"ui_group","z":"","name":"C - ISFCR","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"13eb9658.d48e0a","type":"ui_group","z":"","name":"Discussion Room","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"4cc35653.752be8","type":"ui_group","z":"","name":"Master Control","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c864ead2.232668","type":"ui_group","z":"","name":"Data Table","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3c0a52c9.d5511e","type":"ui_group","z":"","name":"CCBD","tab":"","disp":true,"width":"6","collapse":false},{"id":"c12c69e2.59a9b8","type":"ui_group","z":"","name":"Discussion Room Lock Status","tab":"","disp":true,"width":"6","collapse":false},{"id":"c80cb07f.a9e04","type":"ui_group","z":"","name":"Labs","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"af9e48d0.913be8","type":"ui_group","z":"","name":"Labs","tab":"","disp":true,"width":"6","collapse":false},{"id":"1487276c.a516c9","type":"mqtt-broker","z":"","name":"ChiragMachine","broker":"10.20.202.158","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"faecd8ce.cdaca8","type":"ui_group","z":"","name":"Super Master Switch","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"bdedde67.e6919","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"920e4f55.be596","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8e0968d2.76b0b8","type":"ui_group","z":"","name":"C - IoT","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"b83e7843.eeb8e8","type":"ui_group","z":"","name":"Eleventh Floor Main Master Contol","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"51c599a8.81f2b8","type":"alexa-home-conf","z":"","username":"cls98"},{"id":"ad2e05e6.214a98","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"4c905207.d7dc6c","type":"alexa-home-conf","z":"","username":"iotcenterpesu"},{"id":"4c0e5b6f.92ebb4","type":"ui_group","z":"","name":"CCBD","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"41eb2ef4.f0984","type":"mqtt-broker","z":"","name":"","broker":"10.20.202.143","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4777aa8.4a8a954","type":"ui_group","z":"","name":"Lamp","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9ec63f91.9913d","type":"ui_group","z":"","name":"Sensor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"9b128ffc.a05e3","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1880","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2cd7d61b.6a18ba","type":"mqtt-broker","z":"","name":"","broker":"169.254.42.118","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4152b26f.99f38c","type":"ui_group","z":"","name":"Temperature Reading","tab":"","order":1,"disp":true,"width":"22","collapse":false},{"id":"6c51d255.da9b1c","type":"ui_group","z":"","name":"Humidity Reading","tab":"","disp":true,"width":"6","collapse":false},{"id":"1473ae4b.860022","type":"mqtt-broker","z":"","name":"","broker":"10.3.32.59","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"df791b5a.91a608","type":"ui_group","z":"","name":"C - ISFCR","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"92533ae3.52eda8","type":"ui_group","z":"","name":"Discussion Room","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"f378fc8f.f886a","type":"ui_group","z":"","name":"Master Control","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"14a7694d.69aa37","type":"ui_group","z":"","name":"Data Table","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"af43ba46.d02898","type":"ui_group","z":"","name":"CCBD","tab":"","disp":true,"width":"6","collapse":false},{"id":"c7bb054c.b6cae8","type":"ui_group","z":"","name":"Discussion Room Lock Status","tab":"","disp":true,"width":"6","collapse":false},{"id":"5a915281.4daefc","type":"ui_group","z":"","name":"Labs","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"d2c29084.a2005","type":"ui_group","z":"","name":"Labs","tab":"","disp":true,"width":"6","collapse":false},{"id":"36122f53.e5317","type":"mqtt-broker","z":"","name":"ChiragMachine","broker":"10.20.202.158","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"170f6569.50d80b","type":"ui_group","z":"","name":"Super Master Switch","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ffa52c2.6bf2ce","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3fc322d9.a4614e","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"821b4851.eb7398","type":"ui_group","z":"","name":"C - IoT","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"e461a60c.e9bc78","type":"ui_group","z":"","name":"Eleventh Floor Main Master Contol","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9049d41b.584f58","type":"alexa-home-conf","z":"","username":"cls98"},{"id":"61a48851.701518","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"bccce89c.63b898","type":"alexa-home-conf","z":"","username":"iotcenterpesu"},{"id":"1630a84a.04e888","type":"ui_group","z":"","name":"CCBD","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"2b58d298.4debce","type":"mqtt-broker","z":"","name":"","broker":"10.20.202.143","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2bdaa365.fa5a1c","type":"ui_group","z":"","name":"Lamp","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0e45006.415a1","type":"ui_group","z":"","name":"Sensor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"57540369.679c9c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1880","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4eeeab23.7b48b4","type":"mqtt-broker","z":"","name":"","broker":"169.254.42.118","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"90a97db8.8b3e5","type":"ui_group","z":"","name":"C-IoT","tab":"5c1e8819.5f0518","order":1,"disp":true,"width":"22","collapse":false},{"id":"505a5817.fcdde8","type":"ui_group","z":"","name":"Humidity Reading","tab":"","disp":true,"width":"6","collapse":false},{"id":"6a49891.bd09978","type":"mqtt-broker","z":"","name":"","broker":"10.3.32.59","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"36ec7d16.39b942","type":"ui_group","z":"","name":"C - ISFCR","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d38e4601.34e6b8","type":"ui_group","z":"","name":"Discussion Room","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"af78d3d0.ac865","type":"ui_group","z":"","name":"Master Control","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a1da2343.9a6dc","type":"ui_group","z":"","name":"Data Table","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"fb6877c.4b6f588","type":"ui_group","z":"","name":"CCBD","tab":"","disp":true,"width":"6","collapse":false},{"id":"8ad335b4.f10d58","type":"ui_group","z":"","name":"Discussion Room Lock Status","tab":"","disp":true,"width":"6","collapse":false},{"id":"12336eb8.217a01","type":"ui_group","z":"","name":"Labs","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"8f9e55ef.6e3138","type":"ui_group","z":"","name":"Labs","tab":"","disp":true,"width":"6","collapse":false},{"id":"78f66053.b9068","type":"mqtt-broker","z":"","name":"ChiragMachine","broker":"10.20.202.158","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8386dbe.cc162","type":"ui_group","z":"","name":"Super Master Switch","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6fbaa5b2.df07ac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36ad2913.582156","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fa9af1b8.188e9","type":"ui_group","z":"","name":"C - IoT","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"8a761533.fe4378","type":"ui_group","z":"","name":"Eleventh Floor Main Master Contol","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"31dfe2bb.6fab8e","type":"alexa-home-conf","z":"","username":"cls98"},{"id":"51e4ccad.5bc114","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"682dea6a.ef0844","type":"alexa-home-conf","z":"","username":"iotcenterpesu"},{"id":"2511463e.5edd1a","type":"ui_group","z":"","name":"CCBD","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"b6136b77.da97d8","type":"mqtt-broker","z":"","name":"","broker":"10.20.202.143","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4c443ec6.d4f7f","type":"ui_group","z":"","name":"Lamp","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"83ad4dca.54094","type":"ui_group","z":"","name":"Sensor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"65accb99.c34344","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1880","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ef84ab6.24fd56","type":"mqtt-broker","z":"","name":"","broker":"169.254.42.118","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4611cb0.5f8ff34","type":"ui_group","z":"","name":"Temperature Reading","tab":"","order":1,"disp":true,"width":"22","collapse":false},{"id":"6edc6559.57314c","type":"ui_group","z":"","name":"Humidity Reading","tab":"","disp":true,"width":"6","collapse":false},{"id":"4a4af64d.594fc8","type":"mqtt-broker","z":"","name":"","broker":"10.3.32.59","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e7d822e5.42e2a","type":"ui_group","z":"","name":"C - ISFCR","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"e59ec0cd.1451a","type":"ui_group","z":"","name":"Discussion Room","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"f9f3d8fb.787888","type":"ui_group","z":"","name":"Master Control","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"24809925.2cae76","type":"ui_group","z":"","name":"Data Table","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b49ae476.b8a868","type":"ui_group","z":"","name":"CCBD","tab":"","disp":true,"width":"6","collapse":false},{"id":"898f2398.71ee7","type":"ui_group","z":"","name":"Discussion Room Lock Status","tab":"","disp":true,"width":"6","collapse":false},{"id":"20c6e561.48ecba","type":"ui_group","z":"","name":"Labs","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"63135661.753048","type":"ui_group","z":"","name":"Labs","tab":"","disp":true,"width":"6","collapse":false},{"id":"37fe1ddb.dc8212","type":"mqtt-broker","z":"","name":"ChiragMachine","broker":"10.20.202.158","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5f4ceed7.e27c6","type":"ui_group","z":"","name":"Super Master Switch","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b2b27ee2.6e6d1","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"13f3bf8f.2a72e","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f603dc9f.3cb0a","type":"ui_group","z":"","name":"C - IoT","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"b1e90b6f.40f128","type":"ui_group","z":"","name":"Eleventh Floor Main Master Contol","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"34f77b0e.144154","type":"alexa-home-conf","z":"","username":"cls98"},{"id":"dd5014bf.995ca8","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"5d04c82f.1df678","type":"alexa-home-conf","z":"","username":"iotcenterpesu"},{"id":"eeeecd4d.209f7","type":"ui_group","z":"","name":"CCBD","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a521d396.7e57a","type":"mqtt-broker","z":"","name":"","broker":"10.20.202.143","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"89923bca.0e5ad8","type":"ui_group","z":"","name":"Lamp","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"94b79056.29739","type":"ui_group","z":"","name":"Sensor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"eb2cabbf.41d038","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1880","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a042cb74.a973e8","type":"mqtt-broker","z":"","name":"","broker":"169.254.42.118","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f224ac3.55e015","type":"ui_group","z":"","name":"Temperature Reading","tab":"","order":1,"disp":true,"width":"22","collapse":false},{"id":"b8149725.6eca28","type":"ui_group","z":"","name":"Humidity Reading","tab":"","disp":true,"width":"6","collapse":false},{"id":"b7b9efd9.249b5","type":"mqtt-broker","z":"","name":"","broker":"10.3.32.59","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ce896161.20863","type":"ui_group","z":"","name":"C - ISFCR","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2af5aff0.419c6","type":"ui_group","z":"","name":"Discussion Room","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"508c87eb.0631a8","type":"ui_group","z":"","name":"Master Control","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6fadd0e0.1d25","type":"ui_group","z":"","name":"Data Table","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"800da928.447958","type":"ui_group","z":"","name":"CCBD","tab":"","disp":true,"width":"6","collapse":false},{"id":"cc3caa32.cc3f48","type":"ui_group","z":"","name":"Discussion Room Lock Status","tab":"","disp":true,"width":"6","collapse":false},{"id":"9ca73ca7.7a509","type":"ui_group","z":"","name":"Labs","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"362d8936.05c3f6","type":"ui_group","z":"","name":"Labs","tab":"","disp":true,"width":"6","collapse":false},{"id":"b815f8f1.f790b8","type":"mqtt-broker","z":"","name":"ChiragMachine","broker":"10.20.202.158","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3a112fa7.b40c1","type":"ui_group","z":"","name":"ClassRooms","tab":"c37655a0.7f60d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4446c973.944b98","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"94997c95.0d8db","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a4fa712.5f7fb8","type":"ui_group","z":"","name":"C - IoT","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"589c8b06.de96f4","type":"ui_group","z":"","name":"Eleventh Floor Main Master Contol","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e1294b6.79c91b","type":"alexa-home-conf","z":"","username":"cls98"},{"id":"d69255e1.04daf8","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"aa7fd9e9.f9e958","type":"alexa-home-conf","z":"","username":"iotcenterpesu"},{"id":"10405b35.704ec5","type":"ui_group","z":"","name":"CCBD","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"2d7347af.e655b8","type":"mqtt-broker","z":"","name":"","broker":"10.3.32.59","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7c504686.480008","type":"ui_group","z":"","name":"Lamp","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ed583328.882af","type":"ui_group","z":"","name":"Sensor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"fe8c0124.b4594","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1880","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d310f088.c8093","type":"mqtt-broker","z":"","name":"","broker":"169.254.42.118","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1c03c475.96aaec","type":"ui_group","z":"","name":"Temperature Reading","tab":"","order":1,"disp":true,"width":"22","collapse":false},{"id":"82731f75.7b606","type":"ui_group","z":"","name":"Humidity Reading","tab":"","disp":true,"width":"6","collapse":false},{"id":"57f0bc22.23df84","type":"mqtt-broker","z":"","name":"","broker":"10.20.200.233","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d523c004.c9e93","type":"ui_group","z":"","name":"C - ISFCR","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"bb98cf53.dbc45","type":"ui_group","z":"","name":"Cabin","tab":"8d3ed2d9.9a7f3","order":4,"disp":true,"width":"6","collapse":false},{"id":"59182250.ea25bc","type":"ui_group","z":"","name":"Master Control","tab":"f4c6db1.9182828","order":2,"disp":true,"width":"6","collapse":false},{"id":"6dbba90.b5eaf58","type":"ui_group","z":"","name":"Data Table","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"60dd3daa.93fec4","type":"ui_tab","z":"","name":"Stats","icon":"dashboard","disabled":false,"hidden":false},{"id":"3132f157.79c18e","type":"ui_group","z":"","name":"Status Miranda","tab":"60dd3daa.93fec4","disp":true,"width":"10","collapse":false},{"id":"f012da3e.a09758","type":"ui_group","z":"","name":"C-IoT Temperature Monitor","tab":"60dd3daa.93fec4","disp":true,"width":"6","collapse":false},{"id":"fd29b280.8cdb1","type":"ui_group","z":"","name":"Labs","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"5133b382.ba34dc","type":"ui_group","z":"","name":"Labs","tab":"60dd3daa.93fec4","disp":true,"width":"6","collapse":false},{"id":"c04ee7e8.fb80e8","type":"mqtt-broker","z":"","name":"ChiragMachine","broker":"10.20.202.158","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"64ab9d7.c3c4964","type":"ui_group","z":"","name":"Super Master Switch","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9a4c6bd.b8aeb8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"71098114.d257","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ae3af497.819728","type":"ui_group","z":"","name":"C - IoT","tab":"5c1e8819.5f0518","order":3,"disp":true,"width":"6","collapse":false},{"id":"12039f4b.21cc81","type":"ui_group","z":"","name":"Eleventh Floor Main Master Contol","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3776bea9.bbbba2","type":"alexa-home-conf","z":"","username":"cls98"},{"id":"f1cb6fa8.a4726","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"59b85039.ce86e","type":"alexa-home-conf","z":"","username":"iotcenterpesu"},{"id":"5c1e8819.5f0518","type":"ui_tab","z":"","name":"11th Floor","icon":"dashboard","disabled":false,"hidden":false},{"id":"f4c6db1.9182828","type":"ui_tab","z":"","name":"Isfcr Cabin","icon":"dashboard","disabled":false,"hidden":false},{"id":"8d3ed2d9.9a7f3","type":"ui_tab","z":"","name":"Cabin","icon":"dashboard","disabled":false,"hidden":false},{"id":"c37655a0.7f60d8","type":"ui_tab","z":"","name":"Ground Floor","icon":"dashboard","disabled":false,"hidden":false},{"id":"17c53e53.72fd42","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"Main Door","tooltip":"","group":"10405b35.704ec5","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"1/101","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":40,"wires":[["36e5cab7.7d5ca6"]]},{"id":"36e5cab7.7d5ca6","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"CCBD Main Door Switch","topic":"ccbdmain","qos":"","retain":"","broker":"2d7347af.e655b8","x":1070,"y":40,"wires":[]},{"id":"cf5b1e9.952a3e","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"Cabin A","tooltip":"","group":"10405b35.704ec5","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"1/102","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":720,"y":100,"wires":[["d0c060fa.301a7"]]},{"id":"5f164cf3.c72b54","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"Cabin B","tooltip":"","group":"10405b35.704ec5","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"1/103","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":720,"y":160,"wires":[["37d58f48.f4652"]]},{"id":"d0c060fa.301a7","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"CCBD Cabin A","topic":"ccbda","qos":"","retain":"","broker":"2d7347af.e655b8","x":1020,"y":100,"wires":[]},{"id":"37d58f48.f4652","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"CCBD Cabin B","topic":"ccbdb","qos":"","retain":"","broker":"2d7347af.e655b8","x":1020,"y":160,"wires":[]},{"id":"8379035c.8e3b7","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"CCBD Master Key","tooltip":"","group":"59182250.ea25bc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":100,"wires":[["5f164cf3.c72b54","cf5b1e9.952a3e","17c53e53.72fd42","a87ec500.0a5a28"]]},{"id":"1b4c9e59.2af312","type":"ui_switch","z":"28e0e5be.2dfb0a","name":"","label":"Cabin Main door","tooltip":"","group":"bb98cf53.dbc45","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"isfcrcabin","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":740,"y":260,"wires":[["77af53c1.b7690c"]]},{"id":"77af53c1.b7690c","type":"mqtt out","z":"28e0e5be.2dfb0a","name":"","topic":"isfcrcabin","qos":"","retain":"","broker":"2d7347af.e655b8","x":1080,"y":280,"wires":[]},{"id":"982c4170.db8db","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"","topic":"202","qos":"","retain":"","broker":"2d7347af.e655b8","x":1070,"y":340,"wires":[]},{"id":"4accd18a.6406f","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"Main Door B","tooltip":"","group":"bb98cf53.dbc45","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"202","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":340,"wires":[["982c4170.db8db"]]},{"id":"b7cce212.a126c","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"ISFCR Cabin Master Key","tooltip":"","group":"59182250.ea25bc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":490,"y":300,"wires":[["1b4c9e59.2af312","4accd18a.6406f"]]},{"id":"ff42daee.87b918","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Lockcount ISFCR Cabin","topic":"Lock/isfcrcabin","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":1450,"y":520,"wires":[["a2c07b09.c541c8","12f8f9bd.f66886"]]},{"id":"17110063.3c1b7","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Unlockcount ISFCR Cabin","topic":"Unlock/isfcrcabin","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":1450,"y":600,"wires":[["bbbc9999.cafc18","12f8f9bd.f66886"]]},{"id":"a2c07b09.c541c8","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"f012da3e.a09758","order":0,"width":"5","height":"1","name":"","label":"Lock count for Cabin is :","format":"{{msg.payload}}","layout":"row-right","x":1790,"y":520,"wires":[]},{"id":"bbbc9999.cafc18","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"f012da3e.a09758","order":0,"width":"5","height":"1","name":"","label":"Unlock count for Cabin is :","format":"{{msg.payload}}","layout":"row-right","x":1790,"y":600,"wires":[]},{"id":"7dda4845.bca5a8","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Lockcount Discussion Room B","topic":"Lock/Room2","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2170,"y":400,"wires":[["721cd1f7.0453a","6c276779.1312e8"]]},{"id":"f01e43a3.b5fd2","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Unlockcount  Discussion Room B","topic":"Unlock/Room2","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2150,"y":460,"wires":[["f92cc4c8.0e0f48","6c276779.1312e8"]]},{"id":"721cd1f7.0453a","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"f012da3e.a09758","order":0,"width":"5","height":"1","name":"","label":"Lock count for  Discussion Room B is :","format":"{{msg.payload}}","layout":"row-right","x":2530,"y":400,"wires":[]},{"id":"f92cc4c8.0e0f48","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"f012da3e.a09758","order":0,"width":"6","height":"1","name":"","label":"Unlock count for  Discussion Room B is :","format":"{{msg.payload}}","layout":"row-right","x":2540,"y":460,"wires":[]},{"id":"2f6cb947.bad6d6","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Lockcount CCBD Main","topic":"Lock/ccbdmain","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2120,"y":1040,"wires":[["47809a24.9ecf34","e89c122f.8a44c"]]},{"id":"47809a24.9ecf34","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for CCBD Main Door is :","format":"{{msg.payload}}","layout":"row-right","x":2570,"y":1040,"wires":[]},{"id":"1fcc3215.af679e","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Unlockcount CCBD Main ","topic":"Unlock/ccbdmain","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2130,"y":1280,"wires":[["c4f3b19e.43b67","e89c122f.8a44c"]]},{"id":"c4f3b19e.43b67","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count for CCBD Main is :","format":"{{msg.payload}}","layout":"row-right","x":2530,"y":1280,"wires":[]},{"id":"734d2f50.7805a","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Lockcount Room102","topic":"Lock/Room102","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":1430,"y":1160,"wires":[["cab05a7.afb41a8","3e03c4dc.b67d0c"]]},{"id":"320a42f0.4fb22e","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Unlockcount Room102","topic":"Unlock/Room102","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":1440,"y":1100,"wires":[["75cfeed8.d5e71","3e03c4dc.b67d0c"]]},{"id":"cab05a7.afb41a8","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for room 102 is :","format":"{{msg.payload}}","layout":"row-right","x":1720,"y":1160,"wires":[]},{"id":"75cfeed8.d5e71","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count room102 is :","format":"{{msg.payload}}","layout":"row-right","x":1710,"y":1100,"wires":[]},{"id":"9a82f59f.0cdfd8","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"Lab 01","tooltip":"","group":"fd29b280.8cdb1","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"L01","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":440,"wires":[["216eab6c.d40e54"]]},{"id":"f751b5b2.47b308","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"Lab 02","tooltip":"","group":"fd29b280.8cdb1","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"L02","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":700,"y":520,"wires":[["45dcae8c.b06b8"]]},{"id":"e1636ed7.817e","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"Labs Master Switch","label":"Labs Master Switch","tooltip":"","group":"59182250.ea25bc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":480,"wires":[["9a82f59f.0cdfd8","f751b5b2.47b308"]]},{"id":"216eab6c.d40e54","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"Lab 01","topic":"L01","qos":"","retain":"","broker":"2d7347af.e655b8","x":1070,"y":440,"wires":[]},{"id":"45dcae8c.b06b8","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"Lab 02","topic":"L02","qos":"2","retain":"","broker":"2d7347af.e655b8","x":1070,"y":520,"wires":[]},{"id":"a5c10510.934ff8","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"CCBD Main In Time","topic":"ccbdmain/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2150,"y":1100,"wires":[["31282a2c.a63a06","e89c122f.8a44c"]]},{"id":"31282a2c.a63a06","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"CCBD Main Door  in_time :","format":"{{msg.payload}}","layout":"row-right","x":2540,"y":1100,"wires":[]},{"id":"8fc89805.980948","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"CCBD Main Out Time","topic":"ccbdmain/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2160,"y":1200,"wires":[["3f1ac9f3.6d3046","e89c122f.8a44c"]]},{"id":"3f1ac9f3.6d3046","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"CCBD Main Door out_time:","format":"{{msg.payload}}","layout":"row-right","x":2520,"y":1200,"wires":[]},{"id":"57a97ba4.ff8084","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Room102/in","topic":"Room102/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":1410,"y":1220,"wires":[["57953c29.a183e4","3e03c4dc.b67d0c"]]},{"id":"57953c29.a183e4","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Room102 in_time :","format":"{{msg.payload}}","layout":"row-right","x":1690,"y":1220,"wires":[]},{"id":"11902a9.4da7bd5","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Room102/out","topic":"Room102/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":1410,"y":1040,"wires":[["c51e27c6.17a3b8","3e03c4dc.b67d0c"]]},{"id":"c51e27c6.17a3b8","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Room102 out_time:","format":"{{msg.payload}}","layout":"row-right","x":1750,"y":1040,"wires":[]},{"id":"d1e57013.e69f5","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"ISFCR Cabin In Time","topic":"isfcrcabin/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":1440,"y":440,"wires":[["620026d2.200cb8","12f8f9bd.f66886"]]},{"id":"620026d2.200cb8","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"f012da3e.a09758","order":0,"width":"5","height":"1","name":"","label":"Cabin In Time :","format":"{{msg.payload}}","layout":"row-right","x":1760,"y":440,"wires":[]},{"id":"5e15e5e1.a38e0c","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Cabin Out Time","topic":"isfcrcabin/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":1420,"y":360,"wires":[["1cda074b.9c3849","12f8f9bd.f66886"]]},{"id":"1cda074b.9c3849","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"f012da3e.a09758","order":0,"width":"5","height":"1","name":"","label":"ISFCR Cabin out_time:","format":"{{msg.payload}}","layout":"row-right","x":1790,"y":360,"wires":[]},{"id":"450a44f2.46168c","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":" Discussion Room B In Time","topic":"Room202/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2200,"y":600,"wires":[["bee39fae.a49a7","6c276779.1312e8"]]},{"id":"bee39fae.a49a7","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"f012da3e.a09758","order":0,"width":"5","height":"1","name":"","label":" Discussion Room B in_time :","format":"{{msg.payload}}","layout":"row-right","x":2500,"y":600,"wires":[]},{"id":"1b16f5.d3a4b90b","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":" Discussion Room B Out Time","topic":" Room202/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2200,"y":540,"wires":[["f714348f.752f78","6c276779.1312e8"]]},{"id":"f714348f.752f78","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"f012da3e.a09758","order":0,"width":"5","height":"1","name":"","label":" Discussion Room B out_time:","format":"{{msg.payload}}","layout":"row-left","x":2510,"y":540,"wires":[]},{"id":"2f1c19ad.f81a36","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"Super Master Switch","tooltip":"","group":"64ab9d7.c3c4964","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":240,"wires":[["e1636ed7.817e","b7cce212.a126c","8379035c.8e3b7","389763c7.d5d29c","7c8f7507.88c9ac"]]},{"id":"75ecae7b.c2b52","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"ISFCR Cabin C","tooltip":"","group":"d523c004.c9e93","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"11/ISFCR/CabinC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":840,"wires":[["af8cb638.963198"]]},{"id":"71a48f51.c7356","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"ISFCR Cabin B","tooltip":"","group":"d523c004.c9e93","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"11/ISFCR/CabinB","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":780,"wires":[["e1b923e2.7a292"]]},{"id":"80b7c6f3.ad9e08","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"ISFCR Cabin A","tooltip":"","group":"d523c004.c9e93","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"11/ISFCR/CabinA","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":720,"wires":[["4f7f2045.bc353"]]},{"id":"5fe11757.bbc0d8","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"IOT Cabin A","tooltip":"","group":"ae3af497.819728","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"11/ISFCR/Main","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":590,"y":900,"wires":[["fcbb42d1.7898c"]]},{"id":"389763c7.d5d29c","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"ISFCR  Master Control","tooltip":"","group":"59182250.ea25bc","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":400,"y":760,"wires":[["80b7c6f3.ad9e08","71a48f51.c7356","75ecae7b.c2b52","18d5ab2a.116685"]]},{"id":"fcbb42d1.7898c","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"","topic":"iot/cabin","qos":"2","retain":"","broker":"2d7347af.e655b8","x":840,"y":900,"wires":[]},{"id":"af8cb638.963198","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"","topic":"isfcrc","qos":"","retain":"","broker":"2d7347af.e655b8","x":870,"y":843,"wires":[]},{"id":"e1b923e2.7a292","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"","topic":"isfcrb","qos":"","retain":"","broker":"2d7347af.e655b8","x":870,"y":780,"wires":[]},{"id":"4f7f2045.bc353","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"","topic":"isfcra","qos":"","retain":"","broker":"2d7347af.e655b8","x":870,"y":720,"wires":[]},{"id":"7c8f7507.88c9ac","type":"ui_switch","z":"28e0e5be.2dfb0a","name":"","label":"IoT","tooltip":"","group":"59182250.ea25bc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":920,"wires":[["5fe11757.bbc0d8"]]},{"id":"b973f502.099088","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Unlockcount G-04","topic":"Lock/iotmain","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2950,"y":460,"wires":[["2f293853.f284d8","2234dec7.238132"]]},{"id":"ddadb66.047f048","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Lockcount G-04","topic":"Unlock/iotmain","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2930,"y":400,"wires":[["6e5b07a8.cf33b8","2234dec7.238132"]]},{"id":"2f293853.f284d8","type":"ui_text","z":"28e0e5be.2dfb0a","group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count for G-04 :","format":"{{msg.payload}}","layout":"row-right","x":3270,"y":460,"wires":[]},{"id":"6e5b07a8.cf33b8","type":"ui_text","z":"28e0e5be.2dfb0a","group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for G-04 :","format":"{{msg.payload}}","layout":"row-right","x":3270,"y":400,"wires":[]},{"id":"ca3079e.e596488","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"iotmain/in","topic":"iotmain/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2920,"y":520,"wires":[["41796246.49ccac","2234dec7.238132"]]},{"id":"41796246.49ccac","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Miranda in_time :","format":"{{msg.payload}}","layout":"row-right","x":3250,"y":520,"wires":[]},{"id":"bee9cafc.faa4d8","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"iotmain/out","topic":"iotmain/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2920,"y":580,"wires":[["4df17252.e803dc","2234dec7.238132"]]},{"id":"4df17252.e803dc","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Miranda out_time:","format":"{{msg.payload}}","layout":"row-right","x":3250,"y":580,"wires":[]},{"id":"415a7758.f24a28","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE g04(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3280,"y":40,"wires":[["4bf8cab0.1748e4"]]},{"id":"e366ae1f.8637c","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE g04","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3270,"y":80,"wires":[["4bf8cab0.1748e4"]]},{"id":"28282cf9.890774","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM g04","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3280,"y":140,"wires":[["4bf8cab0.1748e4"]]},{"id":"ca8322da.10e3c","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var unlocks=JSON.stringify(msg.payload[\"Lock/iotmain\"]);\nvar locks=JSON.stringify(msg.payload[\"Unlock/iotmain\"]);\nvar intime=JSON.stringify(msg.payload[\"iotmain/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"iotmain/out\"]);\n\n//var msg={};\nmsg.topic=\"INSERT INTO g04(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":3360,"y":260,"wires":[["4bf8cab0.1748e4"]]},{"id":"4bf8cab0.1748e4","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":3560,"y":160,"wires":[["1262611a.8bb16f","91997ea2.b1ed4"]]},{"id":"1262611a.8bb16f","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3770,"y":160,"wires":[]},{"id":"91997ea2.b1ed4","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":3760,"y":240,"wires":[[]]},{"id":"2234dec7.238132","type":"join","z":"28e0e5be.2dfb0a","name":"IOT Main  Door","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3180,"y":260,"wires":[["ca8322da.10e3c"]]},{"id":"2518aee7.b9db02","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE discussiona(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1640,"y":20,"wires":[["6dc16cc0.f50f04"]]},{"id":"c79a5670.e87ed8","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE discussiona","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1650,"y":80,"wires":[["6dc16cc0.f50f04"]]},{"id":"21d8bcef.723b84","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM discussiona","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1640,"y":140,"wires":[["6dc16cc0.f50f04"]]},{"id":"3510375c.806148","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/Room1\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/Room1\"]);\nvar intime=JSON.stringify(msg.payload[\"Room201/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"Room201/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO discussiona(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":240,"wires":[["6dc16cc0.f50f04"]]},{"id":"6dc16cc0.f50f04","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":1940,"y":80,"wires":[["c106f530.8db9d8","43ace06f.3d76a"]]},{"id":"c106f530.8db9d8","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2150,"y":80,"wires":[]},{"id":"43ace06f.3d76a","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/Room1\"]}}</td>\n    <td>{{x[\"Unlock/Room1\"]}}</td> \n    <td>{{x[\"Room201/in\"]}}</td>\n    <td>{{x[\"Room201/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2140,"y":140,"wires":[[]]},{"id":"12f8f9bd.f66886","type":"join","z":"28e0e5be.2dfb0a","name":"Discussion A","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1650,"y":240,"wires":[["3510375c.806148"]]},{"id":"c07333fc.f8772","type":"inject","z":"28e0e5be.2dfb0a","d":true,"name":"CREATE","topic":"CREATE TABLE discussionb(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2540,"y":40,"wires":[["c4461faf.09227"]]},{"id":"7c2970a1.ab1f7","type":"inject","z":"28e0e5be.2dfb0a","d":true,"name":"DROP","topic":"DROP TABLE discussionb","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2550,"y":100,"wires":[["c4461faf.09227"]]},{"id":"edd8a987.7bbbb8","type":"inject","z":"28e0e5be.2dfb0a","d":true,"name":"SELECT","topic":"SELECT * FROM discussionb","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2540,"y":160,"wires":[["c4461faf.09227"]]},{"id":"81aaee25.90998","type":"function","z":"28e0e5be.2dfb0a","d":true,"name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/Room2\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/Room2\"]);\nvar intime=JSON.stringify(msg.payload[\"Room202/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"Room202/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO discussionb(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":2600,"y":280,"wires":[["c4461faf.09227"]]},{"id":"c4461faf.09227","type":"sqlite","z":"28e0e5be.2dfb0a","d":true,"mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":2800,"y":100,"wires":[["e38ff8ce.ec73c8","1ab9d21e.89ea7e"]]},{"id":"e38ff8ce.ec73c8","type":"debug","z":"28e0e5be.2dfb0a","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3070,"y":100,"wires":[]},{"id":"1ab9d21e.89ea7e","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":3060,"y":160,"wires":[[]]},{"id":"6c276779.1312e8","type":"join","z":"28e0e5be.2dfb0a","d":true,"name":"Discussion Room B","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2430,"y":280,"wires":[["81aaee25.90998"]]},{"id":"af43e111.f1b93","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE ccbdmain(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2520,"y":720,"wires":[["c0274276.9b76"]]},{"id":"faa7c351.271ce","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE ccbdmain","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2530,"y":780,"wires":[["c0274276.9b76"]]},{"id":"1e7b8a34.42b376","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM ccbdmain","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2520,"y":840,"wires":[["c0274276.9b76"]]},{"id":"a337b303.2fa92","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/ccbdmain\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/ccbdmain\"]);\nvar intime=JSON.stringify(msg.payload[\"ccbdmain/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"ccbdmain/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO ccbdmain(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":2702,"y":960,"wires":[["c0274276.9b76"]]},{"id":"c0274276.9b76","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":2820,"y":780,"wires":[["d5737397.45eef","91ad9efd.4f1cd"]]},{"id":"d5737397.45eef","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3030,"y":780,"wires":[]},{"id":"91ad9efd.4f1cd","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":3020,"y":840,"wires":[[]]},{"id":"e89c122f.8a44c","type":"join","z":"28e0e5be.2dfb0a","name":"CCBD Main","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2530,"y":960,"wires":[["a337b303.2fa92"]]},{"id":"2e8621b1.f0785e","type":"inject","z":"28e0e5be.2dfb0a","d":true,"name":"CREATE","topic":"CREATE TABLE Room102(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1540,"y":700,"wires":[["54794baa.de8c94"]]},{"id":"be70e8d3.f565e8","type":"inject","z":"28e0e5be.2dfb0a","d":true,"name":"DROP","topic":"DROP TABLE Room102","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1550,"y":760,"wires":[["54794baa.de8c94"]]},{"id":"6aeee755.8f4278","type":"inject","z":"28e0e5be.2dfb0a","d":true,"name":"SELECT","topic":"SELECT * FROM Room102","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1540,"y":820,"wires":[["54794baa.de8c94"]]},{"id":"9433aa8c.1eb5f8","type":"function","z":"28e0e5be.2dfb0a","d":true,"name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/Room102\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/Room102\"]);\nvar intime=JSON.stringify(msg.payload[\"Room102/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"Room102/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO Room102(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":960,"wires":[["54794baa.de8c94"]]},{"id":"54794baa.de8c94","type":"sqlite","z":"28e0e5be.2dfb0a","d":true,"mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":1840,"y":760,"wires":[["6c0e9bad.9104a4","f96ae8bb.5e3c88"]]},{"id":"6c0e9bad.9104a4","type":"debug","z":"28e0e5be.2dfb0a","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2050,"y":760,"wires":[]},{"id":"f96ae8bb.5e3c88","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2040,"y":820,"wires":[[]]},{"id":"3e03c4dc.b67d0c","type":"join","z":"28e0e5be.2dfb0a","d":true,"name":"Room102","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1560,"y":960,"wires":[["9433aa8c.1eb5f8"]]},{"id":"a87ec500.0a5a28","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"Cabin C","tooltip":"","group":"10405b35.704ec5","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"1/103","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":720,"y":200,"wires":[["2c6621d1.857dde"]]},{"id":"2c6621d1.857dde","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"CCBD Cabin C","topic":"ccbdc","qos":"","retain":"","broker":"2d7347af.e655b8","x":1040,"y":220,"wires":[]},{"id":"18d5ab2a.116685","type":"ui_switch","z":"28e0e5be.2dfb0a","d":true,"name":"","label":"ISFCR Main Door","tooltip":"","group":"d523c004.c9e93","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"11/ISFCR/CabinA","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":670,"y":660,"wires":[["14b20a10.c49176"]]},{"id":"14b20a10.c49176","type":"mqtt out","z":"28e0e5be.2dfb0a","d":true,"name":"","topic":"isfcrmain","qos":"","retain":"","broker":"2d7347af.e655b8","x":880,"y":660,"wires":[]},{"id":"7cb4a502.5a24fc","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Lockcount CCBD Cabin A","topic":"Lock/ccbda","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2350,"y":1380,"wires":[["f3d5ccdc.0b16d","84de359a.2e57c8"]]},{"id":"f3d5ccdc.0b16d","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for CCBD Cabin A is :","format":"{{msg.payload}}","layout":"row-right","x":2780,"y":1380,"wires":[]},{"id":"2f02ac66.1ad414","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Unlockcount CCBD Cabin A","topic":"Unlock/ccbda","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2360,"y":1620,"wires":[["19e4c33d.70718d","84de359a.2e57c8"]]},{"id":"19e4c33d.70718d","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count for CCBD Cabin A is :","format":"{{msg.payload}}","layout":"row-right","x":2760,"y":1620,"wires":[]},{"id":"61851334.4040dc","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"CCBD Cabin A In Time","topic":"ccbda/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2380,"y":1440,"wires":[["a46aaad4.bb3e28","84de359a.2e57c8"]]},{"id":"a46aaad4.bb3e28","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"CCBD Cabin A  in_time :","format":"{{msg.payload}}","layout":"row-right","x":2750,"y":1440,"wires":[]},{"id":"66dece31.b9f3d","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"CCBD Cabin A Out Time","topic":"ccbda/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2390,"y":1540,"wires":[["56ec7b1b.d99b54","84de359a.2e57c8"]]},{"id":"56ec7b1b.d99b54","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"CCBD Cabin A out_time:","format":"{{msg.payload}}","layout":"row-right","x":2730,"y":1520,"wires":[]},{"id":"90f6973c.ab61c8","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/ccbda\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/ccbda\"]);\nvar intime=JSON.stringify(msg.payload[\"ccbda/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"ccbda/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO ccbda(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":2920,"y":1320,"wires":[["239f107e.ec944"]]},{"id":"84de359a.2e57c8","type":"join","z":"28e0e5be.2dfb0a","name":"CCBD Cabin A","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2758,"y":1320,"wires":[["90f6973c.ab61c8"]]},{"id":"d0e3742e.f28f28","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE ccbda(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2940,"y":1140,"wires":[["239f107e.ec944"]]},{"id":"2b6ecd45.025412","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE ccbda","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2950,"y":1200,"wires":[["239f107e.ec944"]]},{"id":"90160368.27351","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM ccbda","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2940,"y":1260,"wires":[["239f107e.ec944"]]},{"id":"239f107e.ec944","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":3240,"y":1200,"wires":[["3f9b7125.f680ee","70cc4e7a.06a05"]]},{"id":"3f9b7125.f680ee","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3450,"y":1200,"wires":[]},{"id":"70cc4e7a.06a05","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":3440,"y":1260,"wires":[[]]},{"id":"7003ed86.0dd474","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Lockcount CCBD Cabin B","topic":"Lock/ccbdb","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2350,"y":1800,"wires":[["209377c3.b18f08","bb2b49d1.085288"]]},{"id":"209377c3.b18f08","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for CCBD Cabin B is :","format":"{{msg.payload}}","layout":"row-right","x":2780,"y":1800,"wires":[]},{"id":"480b9a56.d96fa4","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Unlockcount CCBD Cabin B","topic":"Unlock/ccbdb","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2360,"y":2040,"wires":[["3e475db9.5db9a2","bb2b49d1.085288"]]},{"id":"3e475db9.5db9a2","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count for CCBD Cabin B is :","format":"{{msg.payload}}","layout":"row-right","x":2760,"y":2040,"wires":[]},{"id":"dabb5937.28eaf8","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"CCBD Cabin B In Time","topic":"ccbdb/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2380,"y":1860,"wires":[["f811925.d03037","bb2b49d1.085288"]]},{"id":"f811925.d03037","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"CCBD Cabin B  in_time :","format":"{{msg.payload}}","layout":"row-right","x":2750,"y":1860,"wires":[]},{"id":"932119c8.52e458","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"CCBD Cabin B Out Time","topic":"ccbdb/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2390,"y":1960,"wires":[["3d40287c.d5fc78","bb2b49d1.085288"]]},{"id":"3d40287c.d5fc78","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"CCBD Cabin B out_time:","format":"{{msg.payload}}","layout":"row-right","x":2730,"y":1960,"wires":[]},{"id":"20699720.1a5a18","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/ccbdb\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/ccbdb\"]);\nvar intime=JSON.stringify(msg.payload[\"ccbdb/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"ccbdb/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO ccbdb(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":2920,"y":1740,"wires":[["c8043b51.9d0098"]]},{"id":"bb2b49d1.085288","type":"join","z":"28e0e5be.2dfb0a","name":"CCBD Cabin B","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2758,"y":1740,"wires":[["20699720.1a5a18"]]},{"id":"6a88bb93.2a9264","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE ccbdb(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3080,"y":1580,"wires":[["c8043b51.9d0098"]]},{"id":"2f286af4.e96716","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE ccbdb","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3090,"y":1640,"wires":[["c8043b51.9d0098"]]},{"id":"9cfe5c86.042e9","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM ccbdb","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3080,"y":1700,"wires":[["c8043b51.9d0098"]]},{"id":"c8043b51.9d0098","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":3380,"y":1640,"wires":[["412741b2.fedd","7726e7f5.f61c48"]]},{"id":"412741b2.fedd","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3590,"y":1640,"wires":[]},{"id":"7726e7f5.f61c48","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":3580,"y":1700,"wires":[[]]},{"id":"22c7ea14.3553c6","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Lockcount CCBD Cabin C","topic":"Lock/ccbdc","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2310,"y":2240,"wires":[["f00fe874.cfa888","4683bd2f.c1f3d4"]]},{"id":"f00fe874.cfa888","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for CCBD Cabin C is :","format":"{{msg.payload}}","layout":"row-right","x":2740,"y":2240,"wires":[]},{"id":"137b0fac.1fe4f","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Unlockcount CCBD Cabin C","topic":"Unlock/ccbdc","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2320,"y":2480,"wires":[["5b0ba797.deefc8","4683bd2f.c1f3d4"]]},{"id":"5b0ba797.deefc8","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count for CCBD Cabin C is :","format":"{{msg.payload}}","layout":"row-right","x":2720,"y":2480,"wires":[]},{"id":"b48144df.b0b818","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"CCBD Cabin C In Time","topic":"ccbdc/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2340,"y":2300,"wires":[["aa6cbaa4.a31068","4683bd2f.c1f3d4"]]},{"id":"aa6cbaa4.a31068","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"CCBD Cabin C  in_time :","format":"{{msg.payload}}","layout":"row-right","x":2710,"y":2300,"wires":[]},{"id":"b525cb7e.2b96c8","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"CCBD Cabin C Out Time","topic":"ccbdc/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2350,"y":2400,"wires":[["15bd2618.21c22a","4683bd2f.c1f3d4"]]},{"id":"15bd2618.21c22a","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"CCBD Cabin C out_time:","format":"{{msg.payload}}","layout":"row-right","x":2690,"y":2400,"wires":[]},{"id":"2a597893.2a8bd8","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/ccbdc\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/ccbdc\"]);\nvar intime=JSON.stringify(msg.payload[\"ccbdc/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"ccbdc/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO ccbdc(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":2880,"y":2180,"wires":[["b25952c1.4b1b2"]]},{"id":"4683bd2f.c1f3d4","type":"join","z":"28e0e5be.2dfb0a","name":"CCBD Cabin C","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2718,"y":2180,"wires":[["2a597893.2a8bd8"]]},{"id":"84ddb258.37552","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE ccbdc(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3080,"y":2020,"wires":[["b25952c1.4b1b2"]]},{"id":"ac1e3323.f6e43","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE ccbdc","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3090,"y":2080,"wires":[["b25952c1.4b1b2"]]},{"id":"bb78d70f.75a478","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM ccbdc","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3080,"y":2140,"wires":[["b25952c1.4b1b2"]]},{"id":"b25952c1.4b1b2","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":3380,"y":2080,"wires":[["1e8cdf6c.0aef81","9027d39.d696c3"]]},{"id":"1e8cdf6c.0aef81","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3590,"y":2080,"wires":[]},{"id":"9027d39.d696c3","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":3580,"y":2140,"wires":[[]]},{"id":"18b21853.396868","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Lockcount ISFCR Main","topic":"Lock/isfcrmain","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":110,"y":1840,"wires":[["9f274961.d6cf48","4fe4ae08.6073a"]]},{"id":"9f274961.d6cf48","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for ISFCR Main Door is :","format":"{{msg.payload}}","layout":"row-right","x":560,"y":1840,"wires":[]},{"id":"549968d8.228038","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Unlockcount ISFCR Main ","topic":"Unlock/isfcrmain","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":120,"y":2080,"wires":[["7b343d79.46a024","4fe4ae08.6073a"]]},{"id":"7b343d79.46a024","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count for ISFCR Main is :","format":"{{msg.payload}}","layout":"row-right","x":530,"y":2080,"wires":[]},{"id":"2cc2fe16.19db22","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"ISFCR Main In Time","topic":"isfcrmain/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":100,"y":1900,"wires":[["7f4adde8.834984","4fe4ae08.6073a"]]},{"id":"7f4adde8.834984","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"ISFCR Main Door  in_time :","format":"{{msg.payload}}","layout":"row-right","x":540,"y":1900,"wires":[]},{"id":"8948a5a5.418928","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"ISFCR Main Out Time","topic":"isfcrmain/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":110,"y":2000,"wires":[["60ca49ba.f18b08","4fe4ae08.6073a"]]},{"id":"60ca49ba.f18b08","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"ISFCR Main Door out_time:","format":"{{msg.payload}}","layout":"row-right","x":510,"y":2000,"wires":[]},{"id":"f3a9c446.bc3648","type":"inject","z":"28e0e5be.2dfb0a","d":true,"name":"CREATE","topic":"CREATE TABLE isfcrmain(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":1520,"wires":[["9b9b25c6.3cfb48"]]},{"id":"1eda950a.bc2fab","type":"inject","z":"28e0e5be.2dfb0a","d":true,"name":"DROP","topic":"DROP TABLE isfcrmain","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":1580,"wires":[["9b9b25c6.3cfb48"]]},{"id":"ca59773b.0e9e98","type":"inject","z":"28e0e5be.2dfb0a","d":true,"name":"SELECT","topic":"SELECT * FROM isfcrmain","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":1640,"wires":[["9b9b25c6.3cfb48"]]},{"id":"60c66c6.b825994","type":"function","z":"28e0e5be.2dfb0a","d":true,"name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/isfcrmain\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/isfcrmain\"]);\nvar intime=JSON.stringify(msg.payload[\"isfcrmain/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"isfcrmain/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO isfcrmain(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":692,"y":1760,"wires":[["9b9b25c6.3cfb48"]]},{"id":"9b9b25c6.3cfb48","type":"sqlite","z":"28e0e5be.2dfb0a","d":true,"mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":810,"y":1580,"wires":[["ab36a45b.036b98","fdd74a1e.bbf9f8"]]},{"id":"ab36a45b.036b98","type":"debug","z":"28e0e5be.2dfb0a","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1020,"y":1580,"wires":[]},{"id":"fdd74a1e.bbf9f8","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1010,"y":1640,"wires":[[]]},{"id":"4fe4ae08.6073a","type":"join","z":"28e0e5be.2dfb0a","d":true,"name":"ISFCR Main","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":1760,"wires":[["60c66c6.b825994"]]},{"id":"98f24f7b.a6592","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Lockcount ISFCR Cabin A","topic":"Lock/isfcra","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":340,"y":2180,"wires":[["32b33dc6.1ae192","b624c78b.327a08"]]},{"id":"32b33dc6.1ae192","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for ISFCR Cabin A is :","format":"{{msg.payload}}","layout":"row-right","x":770,"y":2180,"wires":[]},{"id":"e41ce097.d0cef","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Unlockcount ISFCR Cabin A","topic":"Unlock/isfcra","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":350,"y":2420,"wires":[["1876beb8.3533b1","b624c78b.327a08"]]},{"id":"1876beb8.3533b1","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count for ISFCR Cabin A is :","format":"{{msg.payload}}","layout":"row-right","x":760,"y":2420,"wires":[]},{"id":"a71478d8.a87f98","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"ISFCR Cabin A In Time","topic":"isfcra/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":330,"y":2240,"wires":[["af9c202f.3008a","b624c78b.327a08"]]},{"id":"af9c202f.3008a","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"ISFCR Cabin A  in_time :","format":"{{msg.payload}}","layout":"row-right","x":740,"y":2240,"wires":[]},{"id":"332c1035.fa606","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"ISFCR Cabin A Out Time","topic":"isfcra/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":340,"y":2340,"wires":[["2350954a.6d758a","b624c78b.327a08"]]},{"id":"2350954a.6d758a","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"ISFCR Cabin A out_time:","format":"{{msg.payload}}","layout":"row-right","x":720,"y":2340,"wires":[]},{"id":"1c863a2e.889976","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/isfcra\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/isfcra\"]);\nvar intime=JSON.stringify(msg.payload[\"isfcra/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"isfcra/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO isfcra(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":2120,"wires":[["c8c7aae4.99bef8"]]},{"id":"b624c78b.327a08","type":"join","z":"28e0e5be.2dfb0a","name":"ISFCR Cabin A","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":758,"y":2120,"wires":[["1c863a2e.889976"]]},{"id":"a0fa6e11.6eaf3","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE isfcra(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":1940,"wires":[["c8c7aae4.99bef8"]]},{"id":"303b14e.f5210ec","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE isfcra","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":940,"y":2000,"wires":[["c8c7aae4.99bef8"]]},{"id":"d0fb7708.9f8698","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM isfcra","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":2060,"wires":[["c8c7aae4.99bef8"]]},{"id":"c8c7aae4.99bef8","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":1230,"y":2000,"wires":[["9b8401c6.7eb17","80de7664.6de008"]]},{"id":"9b8401c6.7eb17","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1440,"y":2000,"wires":[]},{"id":"80de7664.6de008","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1430,"y":2060,"wires":[[]]},{"id":"d86e6220.f709c","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Lockcount ISFCR Cabin B","topic":"Lock/isfcrb","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":340,"y":2600,"wires":[["12158731.fc9099","5df0f768.11a548"]]},{"id":"12158731.fc9099","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for ISFCR Cabin B is :","format":"{{msg.payload}}","layout":"row-right","x":770,"y":2600,"wires":[]},{"id":"1a0a2641.fd179a","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Unlockcount ISFCR Cabin B","topic":"Unlock/isfcrb","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":350,"y":2840,"wires":[["7b240565.ee497c","5df0f768.11a548"]]},{"id":"7b240565.ee497c","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count for ISFCR Cabin B is :","format":"{{msg.payload}}","layout":"row-right","x":750,"y":2840,"wires":[]},{"id":"4374bdc5.d87844","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"ISFCR Cabin B In Time","topic":"isfcrb/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":330,"y":2660,"wires":[["30be6a28.6e6e36","5df0f768.11a548"]]},{"id":"30be6a28.6e6e36","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"ISFCR Cabin B  in_time :","format":"{{msg.payload}}","layout":"row-right","x":750,"y":2660,"wires":[]},{"id":"b4e1516e.ceb7c","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"ISFCR Cabin B Out Time","topic":"isfcrb/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":340,"y":2760,"wires":[["79aca1ea.f4d79","5df0f768.11a548"]]},{"id":"79aca1ea.f4d79","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"ISFCR Cabin B out_time:","format":"{{msg.payload}}","layout":"row-right","x":720,"y":2760,"wires":[]},{"id":"86595e97.cb237","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/isfcrb\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/isfcrb\"]);\nvar intime=JSON.stringify(msg.payload[\"isfcrb/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"isfcrb/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO isfcrb(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":2540,"wires":[["8219e9dd.960b48"]]},{"id":"5df0f768.11a548","type":"join","z":"28e0e5be.2dfb0a","name":"ISFCR Cabin B","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":758,"y":2540,"wires":[["86595e97.cb237"]]},{"id":"ad25fae8.0704e8","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE isfcrb(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":2380,"wires":[["8219e9dd.960b48"]]},{"id":"78dadee2.d9e41","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE isfcrb","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":2440,"wires":[["8219e9dd.960b48"]]},{"id":"6cd3776.1727088","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM isfcrb","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":2480,"wires":[["8219e9dd.960b48"]]},{"id":"8219e9dd.960b48","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":1370,"y":2440,"wires":[["3bba2074.f9d14","bed1cbf7.ba7e98"]]},{"id":"3bba2074.f9d14","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":2440,"wires":[]},{"id":"bed1cbf7.ba7e98","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1570,"y":2500,"wires":[[]]},{"id":"7dfefbeb.fba354","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Lockcount ISFCR Cabin C","topic":"Lock/isfcrc","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":300,"y":3040,"wires":[["2d92ff53.ad491","6b7c4fc4.2614b"]]},{"id":"2d92ff53.ad491","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for ISFCR Cabin C is :","format":"{{msg.payload}}","layout":"row-right","x":730,"y":3040,"wires":[]},{"id":"5ad8df.fa1d672","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Unlockcount ISFCR Cabin C","topic":"Unlock/isfcrc","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":310,"y":3280,"wires":[["a9214e57.09a88","6b7c4fc4.2614b"]]},{"id":"a9214e57.09a88","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count for ISFCR Cabin C is :","format":"{{msg.payload}}","layout":"row-right","x":710,"y":3280,"wires":[]},{"id":"eafb8e72.f8754","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"ISFCR Cabin C In Time","topic":"isfcrc/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":290,"y":3100,"wires":[["66feef4a.8d17b","6b7c4fc4.2614b"]]},{"id":"66feef4a.8d17b","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"ISFCR Cabin C  in_time :","format":"{{msg.payload}}","layout":"row-right","x":700,"y":3100,"wires":[]},{"id":"4fd9c61e.544d58","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"ISFCR Cabin C Out Time","topic":"isfcrc/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":300,"y":3200,"wires":[["d41f11e1.c5706","6b7c4fc4.2614b"]]},{"id":"d41f11e1.c5706","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"ISFCR Cabin C out_time:","format":"{{msg.payload}}","layout":"row-right","x":660,"y":3200,"wires":[]},{"id":"5f5993b8.157fec","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/isfcrc\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/isfcrc\"]);\nvar intime=JSON.stringify(msg.payload[\"isfcrc/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"isfcrc/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO isfcrc(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":3000,"wires":[["b8166870.8a7e48"]]},{"id":"6b7c4fc4.2614b","type":"join","z":"28e0e5be.2dfb0a","name":"ISFCR Cabin C","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":708,"y":2980,"wires":[["5f5993b8.157fec"]]},{"id":"944cf111.9ab7b","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE isfcrc(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":2820,"wires":[["b8166870.8a7e48"]]},{"id":"1bb0a260.be15ce","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE isfcrc","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":2880,"wires":[["b8166870.8a7e48"]]},{"id":"db57919e.99c1b","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM isfcrc","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":2940,"wires":[["b8166870.8a7e48"]]},{"id":"b8166870.8a7e48","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":1370,"y":2880,"wires":[["7f7e3940.7582c8","413e5b13.8ca394"]]},{"id":"7f7e3940.7582c8","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":2880,"wires":[]},{"id":"413e5b13.8ca394","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1570,"y":2940,"wires":[[]]},{"id":"4160e908.3f1dd8","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Lockcount IOT Cabin","topic":"Lock/cabin","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2960,"y":2920,"wires":[["d29073ea.58a93","1b54100b.9d3e4"]]},{"id":"f90ddde.1ab5a2","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Unlockcount IOT Cabin","topic":"Unlock/cabin","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2940,"y":2860,"wires":[["8db18796.6ed0d8","1b54100b.9d3e4"]]},{"id":"d29073ea.58a93","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Lock count for IOT Cabin is :","format":"{{msg.payload}}","layout":"row-right","x":3280,"y":2920,"wires":[]},{"id":"8db18796.6ed0d8","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Unlock count IOT is :","format":"{{msg.payload}}","layout":"row-right","x":3260,"y":2860,"wires":[]},{"id":"e41fa768.d3b568","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"cabin/in","topic":"cabin/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2970,"y":2980,"wires":[["b08b592e.48d1b8","1b54100b.9d3e4"]]},{"id":"b08b592e.48d1b8","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"IOT Cabin in_time :","format":"{{msg.payload}}","layout":"row-right","x":3250,"y":2980,"wires":[]},{"id":"1404b232.83ba6e","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"cabin/out","topic":"cabin/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":2980,"y":3040,"wires":[["67634f3c.46264","1b54100b.9d3e4"]]},{"id":"67634f3c.46264","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"IOT Cabin out_time:","format":"{{msg.payload}}","layout":"row-right","x":3260,"y":3040,"wires":[]},{"id":"8e357370.ea80c","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var locks=JSON.stringify(msg.payload[\"Lock/cabin\"]);\nvar unlocks=JSON.stringify(msg.payload[\"Unlock/cabin\"]);\nvar intime=JSON.stringify(msg.payload[\"cabin/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"cabin/out\"]);\n\nvar msg={};\nmsg.topic=\"INSERT INTO iotcabin(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":3660,"y":2840,"wires":[["860c68e0.284278"]]},{"id":"1b54100b.9d3e4","type":"join","z":"28e0e5be.2dfb0a","name":"IOT Cabin","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3430,"y":2780,"wires":[["8e357370.ea80c"]]},{"id":"f9bc0b23.8c0df8","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE iotcabin(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3668,"y":2687,"wires":[["860c68e0.284278"]]},{"id":"497f1f23.fb653","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE iotcabin","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3658,"y":2727,"wires":[["860c68e0.284278"]]},{"id":"617c8c4f.6d29c4","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM iotcabin","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3668,"y":2787,"wires":[["860c68e0.284278"]]},{"id":"860c68e0.284278","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":3948,"y":2807,"wires":[["555bca70.a08c94"]]},{"id":"555bca70.a08c94","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":4158,"y":2807,"wires":[]},{"id":"26100bd5.177a44","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Humidity","topic":"HumiReading","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":260,"y":1340,"wires":[["c9397020.87d2e"]]},{"id":"c9397020.87d2e","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-right","x":650,"y":1340,"wires":[]},{"id":"ce25dc41.779048","type":"mqtt in","z":"28e0e5be.2dfb0a","d":true,"name":"Temperature","topic":"TempReading","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":270,"y":1260,"wires":[["1487bb4f.3ea505"]]},{"id":"1487bb4f.3ea505","type":"ui_text","z":"28e0e5be.2dfb0a","d":true,"group":"3132f157.79c18e","order":0,"width":"5","height":"1","name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-right","x":650,"y":1260,"wires":[]},{"id":"1efb0a3f.94e8f6","type":"ui_switch","z":"28e0e5be.2dfb0a","name":"","label":"G-04","tooltip":"","group":"3a112fa7.b40c1","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"iot/maindoor","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":3580,"wires":[["66864fb7.80245"]]},{"id":"66864fb7.80245","type":"mqtt out","z":"28e0e5be.2dfb0a","name":"G-04","topic":"iot/maindoor","qos":"2","retain":"true","broker":"b0de7df2.6d9c8","x":530,"y":3540,"wires":[]},{"id":"e60f63e7.50529","type":"ui_text","z":"28e0e5be.2dfb0a","group":"f012da3e.a09758","order":0,"width":"5","height":"1","name":"Temperature","label":"Mean Temperature(in Celsius):","format":"{{msg.payload}}","layout":"row-right","x":610,"y":1000,"wires":[]},{"id":"4b3c1408.2649dc","type":"ui_text","z":"28e0e5be.2dfb0a","group":"f012da3e.a09758","order":0,"width":"5","height":"1","name":"Temperature","label":"Mean Temperature(in Fahrenheit):","format":"{{msg.payload}}","layout":"row-right","x":610,"y":1080,"wires":[]},{"id":"e280ebb.f57db18","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"","topic":"CelsiusReading","qos":"2","datatype":"auto","broker":"6a49891.bd09978","x":400,"y":1000,"wires":[["e60f63e7.50529"]]},{"id":"85e43c24.88941","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"","topic":"FahrenheitReading","qos":"2","datatype":"auto","broker":"6a49891.bd09978","x":390,"y":1080,"wires":[["4b3c1408.2649dc"]]},{"id":"f06abe17.3ad2e","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Zone a","topic":"ZoneAReading","qos":"2","datatype":"auto","broker":"6a49891.bd09978","x":840,"y":1000,"wires":[["662f17af.762d38"]]},{"id":"662f17af.762d38","type":"ui_text","z":"28e0e5be.2dfb0a","group":"f012da3e.a09758","order":10,"width":0,"height":0,"name":"","label":"Zone A Temperature","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":1000,"wires":[]},{"id":"e9325340.547ad","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Zone B","topic":"ZoneBReading","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":830,"y":1060,"wires":[["eb8364d9.53a028"]]},{"id":"47fcabf9.791694","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Zone C","topic":"ZoneCReading","qos":"2","datatype":"auto","broker":"6a49891.bd09978","x":830,"y":1120,"wires":[["a3f9460.dc6b2b8"]]},{"id":"ffc389a2.340638","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Zone D","topic":"ZoneDReading","qos":"2","datatype":"auto","broker":"6a49891.bd09978","x":830,"y":1180,"wires":[["ae10fed7.b58ed"]]},{"id":"eb8364d9.53a028","type":"ui_text","z":"28e0e5be.2dfb0a","group":"f012da3e.a09758","order":11,"width":0,"height":0,"name":"","label":"Zone B Temperature","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":1060,"wires":[]},{"id":"a3f9460.dc6b2b8","type":"ui_text","z":"28e0e5be.2dfb0a","group":"f012da3e.a09758","order":12,"width":0,"height":0,"name":"","label":"Zone C Temperature","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":1120,"wires":[]},{"id":"ae10fed7.b58ed","type":"ui_text","z":"28e0e5be.2dfb0a","group":"f012da3e.a09758","order":13,"width":0,"height":0,"name":"","label":"Zone D Temperature","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":1180,"wires":[]},{"id":"ab289c55.ffe5a","type":"mqtt out","z":"28e0e5be.2dfb0a","name":"Miranda","topic":"g04","qos":"2","retain":"true","broker":"1473ae4b.860022","x":550,"y":3660,"wires":[]},{"id":"5ed7b1c.555665","type":"ui_switch","z":"28e0e5be.2dfb0a","name":"Miranda","label":"Miranda","tooltip":"","group":"90a97db8.8b3e5","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":3720,"wires":[["ab289c55.ffe5a"]]},{"id":"ff8c467.a1abab8","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Unlock count Miranda","topic":"Lock/g04","qos":"2","datatype":"auto","broker":"4a4af64d.594fc8","x":820,"y":3600,"wires":[["125eb935.0db94f","2cb804fe.edb19c"]]},{"id":"5824c88f.94a3b8","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"Lock count Miranda","topic":"Unlock/g04","qos":"2","datatype":"auto","broker":"4a4af64d.594fc8","x":800,"y":3700,"wires":[["c9cd20da.7da76","2cb804fe.edb19c"]]},{"id":"125eb935.0db94f","type":"ui_text","z":"28e0e5be.2dfb0a","group":"3132f157.79c18e","order":46,"width":0,"height":0,"name":"","label":"Unlock count Miranda","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":3600,"wires":[]},{"id":"c9cd20da.7da76","type":"ui_text","z":"28e0e5be.2dfb0a","group":"3132f157.79c18e","order":47,"width":0,"height":0,"name":"","label":"Lock count of Miranda","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":3700,"wires":[]},{"id":"8fda8a71.2558d8","type":"inject","z":"28e0e5be.2dfb0a","name":"CREATE","topic":"CREATE TABLE miranda(id INTEGER PRIMARY KEY AUTOINCREMENT, locks TEXT, unlocks TEXT, intime TEXT, outtime TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":3300,"wires":[["b26270c.bb5fe1"]]},{"id":"2ebcfdb.77fb582","type":"inject","z":"28e0e5be.2dfb0a","name":"DROP","topic":"DROP TABLE miranda","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":3340,"wires":[["b26270c.bb5fe1"]]},{"id":"3b2a4449.cc07f4","type":"inject","z":"28e0e5be.2dfb0a","name":"SELECT","topic":"SELECT * FROM miranda","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":3400,"wires":[["b26270c.bb5fe1"]]},{"id":"24b78929.8ad40e","type":"function","z":"28e0e5be.2dfb0a","name":"INSERT","func":"var unlocks=JSON.stringify(msg.payload[\"Lock/g04\"]);\nvar locks=JSON.stringify(msg.payload[\"Unlock/g04\"]);\nvar intime=JSON.stringify(msg.payload[\"g04/in\"]);\nvar outtime=JSON.stringify(msg.payload[\"g04/out\"]);\n//var msg={};\nmsg.topic=\"INSERT INTO miranda(locks,unlocks,intime,outtime) VALUES( \" + locks +\",\"+unlocks+\",\"+intime+\",\"+outtime+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":3460,"wires":[["b26270c.bb5fe1"]]},{"id":"b26270c.bb5fe1","type":"sqlite","z":"28e0e5be.2dfb0a","mydb":"f1cb6fa8.a4726","sqlquery":"msg.topic","sql":"","name":"Database","x":1440,"y":3420,"wires":[["79c39328.8e6304","f1addf26.97d84"]]},{"id":"79c39328.8e6304","type":"debug","z":"28e0e5be.2dfb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1650,"y":3420,"wires":[]},{"id":"f1addf26.97d84","type":"ui_template","z":"28e0e5be.2dfb0a","d":true,"group":"ae3af497.819728","name":"","order":2,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Locks</th> \n    <th>Unlocks</th> \n    <th>In-Time</th>\n    <th>Out-Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:4\">\n    <td>{{x[\"Lock/iotmain\"]}}</td>\n    <td>{{x[\"Unlock/iotmain\"]}}</td> \n    <td>{{x[\"iotmain/in\"]}}</td>\n    <td>{{x[\"iotmain/out\"]}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1640,"y":3500,"wires":[[]]},{"id":"2cb804fe.edb19c","type":"join","z":"28e0e5be.2dfb0a","name":"IOT Main  Door","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":3440,"wires":[["24b78929.8ad40e"]]},{"id":"532e0d45.c731cc","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"g04/in","topic":"g04/in","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":790,"y":3780,"wires":[["2cb804fe.edb19c"]]},{"id":"8622c58f.e53038","type":"mqtt in","z":"28e0e5be.2dfb0a","name":"g04/out","topic":"g04/out","qos":"2","datatype":"auto","broker":"2d7347af.e655b8","x":780,"y":3840,"wires":[["2cb804fe.edb19c"]]}]